.background-img {
  background-image: url("https://images.unsplash.com/photo-1533383915223-f99474794bd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

h1 {
  font-size: 70px;
  margin-bottom: 0px;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  margin-bottom: 0px;
  font-weight: bold;
  color: white;
}

p {
  font-size: 30px;
  color: white;
  padding-bottom: 30px;
}


img {
  box-shadow: 0px 0px 46px 8px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: solid 10px rgba(0,0,0,0.2);
  height: 150px;
}


// .title {
//   text-align: center;

// }

// .body-text {
//   padding-left: 30px;
//   padding-right: 30px;
//   text-align: center;
// }

// .pass {
//   background: rgba(0,0,0,0.2);
//   color: white;
//   padding-top: 15px;
//   text-align: center;
// }

// form {
//   width: 100%;
//   margin-top: 30px;
//   .form-control {
//     height: 70px;
//   }
//   input {
//     font-size: 40px;
//     border-radius: 15px;
//     padding: 20px 40px;
//     margin-bottom: 30px;
//     font-weight: bold;
//   }
// }

.footer {
  height: 100px;
  padding: 50px auto;
  color: rgba(0,0,0,0.3);
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}

.put-pass {
  border-top: 2px solid white;
  padding-top: 30px;
}

.form-input {
  padding-bottom: 50px;
}

.btn-raise {
  padding: 5px 100px;
  text-align: center;
  color: white;
  font-size: 25px;
  background: black;
  border-radius: 5px;
}

.btn-raise:hover {
  background: grey;
}
.center-form {
  display: flex;
  justify-content: center;
}
