<h1>BIMBY RAISE</h1>

<p>Olá a todos!</p>
<p>A nossa chefe de legumes anã vai entrar numa nova década. E para marcar esta data deveríamos dar-lhe uma coisa em grande mas, para isso precisamos de nos juntar todos.</p>
<p>O grande objectivo é oferecer-lhe uma <strong>Bimby!!</strong></p>
<p>Este presente só será possível se todos participarmos. Assim, gostávamos de pedir a cada um uma contribuição no valor de <strong>20 €</strong> porque, como todos sabem esta maquineta não é nada barata.</p>
<p>Se por algum motivo acharem este valor elevado, podem sempre contibuir com o que conseguem.</p>
<p>Dependendo da quantia angariada tomaremos a decisão de se avançar ou não de acordo com o valor total e, se não der há outros presentes que também a farão feliz!</p>

<p>Para ser mais fácil ver a quantia total angariada criuu-se esta mini "APP".</p>
<p>Basta porem a password que vos foi fornecida e preencher o formulário e no final vamos transmitir o resultado!</p>

<p>Desde já, um obrigado a todos os que participarem!</p>

<h3>Validate password</h3>

<%= simple_form_for :password, method: :get do |f| %>
  <%= f.input :text %>
  <%= f.submit 'Enter' %>
<% end %>
